<?xml version="1.0" encoding="utf-8" ?>
<config>
  <nodes>
    <node id="1">
      <matrix_entry num="1">
        <label_in>
          1
        </label_in>
        <label_out>
          2
        </label_out>
        <port_out>
          3
        </port_out>
      </matrix_entry>
    </node>
    <node id="2">
      <matrix_entry num="1">
        <label_in>
          4
        </label_in>
        <label_out>
          5
        </label_out>
        <port_out>
          6
        </port_out>
      </matrix_entry>
    </node>
    <node id="3">
      <matrix_entry num="1">
        <label_in>
          7
        </label_in>
        <label_out>
          8
        </label_out>
        <port_out>
          9
        </port_out>
      </matrix_entry>
    </node>
  </nodes>
</config>
